* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Inter, sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: hsl(0, 0%, 8%);
    color: hsl(0, 0%, 100%);
}

main {
    padding: 24px;
    background-color: hsl(0, 0%, 12%);
    border-radius: 16px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 40px;
}

#avatar {
    width: 100px;
    height: 110px;
    border-radius: 50%;
    margin: 16px;
}

#name {
    font-size: 24px;
    font-weight: 700;
    margin: 10px;
    letter-spacing: 1.5px;
}

#location {
    font-size: 14px;
    margin-bottom: 24px;
    color: hsl(75, 94%, 57%);
    font-weight: 600;
}

#description {
    font-size: 14px;
    margin-bottom: 24px;
}

.buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    border-radius: 12px;
    background-color: hsl(0, 0%, 20%);
    color: hsl(0, 0%, 100%);
    margin: 8px;
    padding: 16px;
    border: none;
    font-weight: 400;
    font-size: 14px;
    text-decoration: none;
}

.buttons img {
    width: 20px;
    margin-right: 24px;
}

.buttons:hover {
    background-color: hsl(75, 94%, 57%);
    color: hsl(0, 0%, 8%);
    cursor: pointer;
}

.buttons:active {
    background-color: hsl(75, 94%, 47%);
}

footer {
    text-align: center;
    margin: 24px;
    color: white;
    position: absolute;
    bottom: 0;
}

footer a {
    color: hsl(75, 94%, 47%);
    text-decoration: none;
}

footer a:hover {
    color: hsl(75, 94%, 57%);
}

footer a:active {
    color: hsl(75, 94%, 37%);
}

footer a:visited {
    color: hsl(75, 94%, 47%);
}